{
	"parser": "babel-eslint",
	"env": {
		"browser": true,
		"jest": true,
		"es6": true
	},
	"extends": ["airbnb", "airbnb/hooks", "prettier", "prettier/react"],
	"rules": {
		"consistent-return": "warn",
		"no-plusplus": "off",
		"react-hooks/rules-of-hooks": "error",
		"react-hooks/exhaustive-deps": "warn",
		"react/prop-types": "off",
		"react/jsx-filename-extension": [
			1,
			{
				"extensions": [".js", ".jsx"]
			}
		]
	},
	"globals": {
		"Atomics": "readonly",
		"SharedArrayBuffer": "readonly"
	},
	"parserOptions": {
		"ecmaFeatures": {
			"jsx": true,
			"modules": true
		},
		"ecmaVersion": 2018,
		"sourceType": "module"
	}
}
